*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:Semibold;
    src: url("../font/Semibold.ttf") ;
}
body{
    width: 100%;
    height: auto;
}
.body{
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
}
span{
    font-size: 40px;
    font-family: "Semibold";
}
.zhuce{
    font-family: "Semibold";
    font-size: 25px;
}
.zhuce input{
    border-radius: 10px;
    width: 250px;
    height: 28px;
    outline: none;
    border: 1px solid;
    background-color: rgba(255,255,255,0.5);
}
.zhuce tr{
    display: block;
    margin-top: 20px;
}
.zhuce .xueyuan{
    outline: none;
    height: 28px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
    font-family: "Semibold";
}
.button{
    margin-top: 20px;
    margin-left: 50px;
}
.button input{
    outline: none;
    border: 0;
    width: 80px;
    height: 25px;
    border-radius: 25px;
    margin-right: 10px;
}
.button .submit{
    border-radius: 25px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color: rgba(9, 7, 35, 0.5);
}
.button .reset{
    border-radius: 25px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color: rgba(52, 107, 105, 0.5);
}
.button .quxiao{
    border-radius: 25px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color: rgba(52, 107, 105, 0.5);
}
.reset:hover{
    background-color: rgba(87, 80, 107, 0.5);
}
.submit:hover {
    background-color: rgba(87, 80, 107, 0.5);
}